.milestone {
    display: flex;
    padding: 40px 60px;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
}
   
.mlstn1 {
    margin: 10px;
    width: 250px;
    height: 100px;
    padding-top: 20px;
    font-size: 30px;
    border: 2px solid black;
}
  
#up {
    justify-content: center;
    display: flex;
    margin-bottom: 8%;
}
  
#down {
    justify-content: center;
    display: flex;
}

.popular {
    display: flex;
    padding: 20px 60px;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black; */
}