/* Main layout below navbar */
.main-container {
    display: flex;
    padding: 40px 60px;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Left column */
  .left-content {
    flex: 1;
    padding-right: 40px;
  }
  
  .left-content h1 {
    font-size: 62px;
    margin-bottom: 20px;
  }
  
  .left-content p {
    font-size: 30px;
    line-height: 1.6;
  }
  
  /* Right column */
  .right-content {
    width: 690px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-content p {
    display: none;
  }
  
  .job-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

@media screen and (max-width: 768px) {
    .main-container {
      flex-wrap: wrap;
    }
    .left-content p {
      display: none;
    }
    .right-content {
      display: flex;
      flex-direction: column;
    }
    .right-content p {
      display: block;
    }
}